.sponsor{
    overflow: hidden; 
      h1{
         margin-top:50px;
         margin-bottom: 40px; 
          @media (max-width:$screen-xs-max) {    margin-top:20px;
         margin-bottom: 20px;}
@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max)  {   margin-top:20px;
         margin-bottom: 20px;  }
         
      }
    
    
    &__tab_l{
        position: relative;
      padding-left: 100px;
      padding-right: 100px; 
       padding-bottom: 150px; 
      min-height: 750px; 
       @media (max-width:$screen-xs-max) {    padding-left: 20px;
      padding-right: 20px;   min-height: 650px; padding-bottom: 15px; }
@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max)  {   padding-left: 50px;
      padding-right: 50px;  }
@media (min-width:$screen-md-min) and (max-width:$screen-md-max) {    padding-left: 100px;
      padding-right: 100px; }
    }
    &__tab_r{
        position: relative;
       padding-left: 100px;
      padding-right: 100px; 
      padding-bottom: 150px; 
   min-height: 750px;
    @media (max-width:$screen-xs-max) {    padding-left: 20px;
      padding-right: 20px;   min-height: 650px;  padding-bottom: 15px;  }
@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max)  {   padding-left: 50px;
      padding-right: 50px;  }
@media (min-width:$screen-md-min) and (max-width:$screen-md-max) {    padding-left: 100px;
      padding-right: 100px; }

    }
    
    .bg-grey{
        background-color: #ebe9e8;
        background-image: url(../images/bg_l.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom; 
       h1{ color: #868686;  
      
       
       }
       p{
           color: #868686;
           font-family: "Open Sans";
            font-weight: normal !important;
            font-style: normal;
            font-size: 17px;
              @media (max-width:$screen-xs-max) {  font-size: 14px;}
@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max)  {    font-size: 14px;}
            
            
            
       }
       
    }
    .bg-blue{
         background-color: #aad9d8;
     
        background-image: url(../images/bg_r.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom; 
       h1{ color: #fff;}
       p{
           color: #fff;
           font-family: "Open Sans";
            font-weight: normal !important;
            font-style: normal;
            font-size: 17px;
             @media (max-width:$screen-xs-max) {  font-size: 14px;}
@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max)  {    font-size: 14px;}
       }
        
    }
    
    
    
}
.sponsor__btn{
    position: absolute;
    bottom: 50px;
    left:   100px;
    
    
    
    
    border: 1px solid #868686;
    color: #868686;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    font-family: 'Lato';
    padding: 20px 20px;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
      @media (max-width:$screen-xs-max) { left: 0px; position: static; width: 100%; }
    
    border-radius: 5px;
    &:hover{
        background:#868686;
        color: #fff !important;
         text-decoration: none;
         
    }
}
.sponsor__btn--green{
     border: 1px solid #00977a;
    color: #fff;
    
    &:hover{
        background: #00977a;
        color: #fff !important;
    }
}